extends layout

mixin championList (year, winner, runnerup)
	.yearChampions
		h2= year+" Tournament"
		p!= '<b>Champion:</b> ' + winner
		p!= '<b>Runner-up:</b> ' + runnerup 

block content
	h1 Tournament Hall of Champions

	for champion in champions
		+championList(champion.year, champion.champion, champion.runnerup)
