extends layout

block content
	h1 Tournament Hall of Champions

	

	h2 2014 Tournament

	p: b Champion:  
	<br />
	Runner-up:  


2013 Tournament

Champion: Rhonda Smith
Runner-up: John Zolman


2012 Tournament

Champion: Jared Smith
Runner-up: Adam Deets


2011 Tournament

Champion: Don Garner
Runner-up: Matt Beglinger


2010 Tournament

Champion: Brett Butler
Runner-up: Mark Lathrop


2009 Tournament

Champion: Barrett Smith
Runner-up: Jared Smith



2008 Tournament

Champion: Jason Smith
Runner-up: Brian Thompson
