mixin navigation (navigationSet)
	navigation
		ul#navigation
			each route in navigationSet
				unless route == 'index'
					li: a(href="/"+route)= route

header
	a(href="/"): img(alt="" src="/images/oxlogo.jpg")

	+navigation(routes.main)