extends layout

block content
  h3 Welcome to the 
  h1 Big Dumb Ox Tournament

  hr

  p
    b Registration for this year's tournament will open once the field has been announced.

  h2 Tournament Information
  
  p Important information to school yourself on before completing your tournament entry:

  ol
    li. 
        Entry fees MUST be paid by the conclusion of Round 1 or your entry will be automatically disqualified!  Last year my team of 
        enforcers were run all over the country trying to collect entry money and some entries still aren't paid!
    li. 
        Entry fees may be paid at any time before the start of the tournament using the PayPal link on the Sign Up page.  All 
        winnings will be paid at the conclusion of the tournament through PayPal.  If you don't have a PayPal account, join the new millenium 
        and get one.  It's free for crying out loud and makes paying you SO much easier at the end of the tournament.  If you plan on 
        winning and want to get paid, sign up.
    li. 
        Participants are only allowed one entry per person. And no signing up under a fake name so you can submit an extra entry either...
    li. 
        Guest commentary can now be submitted for publication on the site.  Submissions should be sent to The Commish at <a href="mailto:bigdumbox@gmail.com">bigdumbox@gmail.com</a>.
    li. 
        Back this year is the ability to talk all the junk you want about how terrible your buddies picks are.  To post your weak trash, 
        check out the smack talk page.

  p.
    Participants for this years challenge, along with their team selections, can be found on the Particpants page. Selections will be hidden until the start of the games on Thursday morning. 
    Please reference the email you received after you submitted your entry and let me know if there are any errors as soon as possible.

  p.
    Scoring by team can be found on the Scoring page, and the current standings can be found on the Standings page.

  p.
    When you have time, please give me any feedback you might have about the website, especially the sign up process. Special thanks to 
    "The Great" Nate Logan and Justin "It Ain't That" Long for helping me get the code working, and to Jared "Death or Glory" Smith for the awesome layout 
    and graphics work.

  p Good Luck!

  p.main Barrett "The Commish" Smith