block navigation
	navigation
		ul#navigation
			li: a(href="/rules") Rules
			li: a(href="/signup") Sign Up
			li: a(href="/champions") Champions
			li: a(href="/participants") Participants
			li: a(href="/standings") Standings
			li: a(href="/scoring") Scoring
			li: a(href="/commentary") Commentary
			li: a(href="/smacktalk") Smack talk