extends layout

block content
 h1 Tournament Rules
 hr
 
 h2 Entry Fee: <b>$20.00</b>
 
 p.main RULES

 p Limit one entry per person.
 
 ol
   li.
     Each entry chooses ten (10) total teams.
   li.
     Entry must have two (2) teams from each region (East, West, South and Midwest) and then two (2) wildcard teams.
   li.
     The total of the seed numbers for the eight region teams must exceed 32 (i.e., an entry has the following seeds:<br />
     East # 1 and #5 + West #2 and #6 + Midwest #3 and #4 + South #1 and #11 = TOTAL: 33
   li.
     Entry is limited to no more than: two #1 seeds, two #2 seeds, and two #3 seeds.<br />
     Any combination of teams can be chosen using the above four rules.
   li.
     Wildcard teams must be at least a 5 seed or lower (i.e., any team from 5 to 16).
   li.
     Seed numbers for wildcard teams must add up to at least 13 (i.e., a #5 seed plus a #8 seed equals 13.)
   li.
     Wildcard teams can be selected from any region.
 
 p. 
  <b>Note:</b> If selecting a team from a play in round, participants will not receive points for winning the play in game.  Also, if an entry selects a 
  team that loses in the play in game, their entry will automatically be updated to the winning team without penalty.
 
 p.
  <b>Double Note:</b>  Any participant can change their picks at any time and for any reason before games start on Thursday morning.  The last entry submitted once 
  games start will become the official entry for the challenge.  The server time stamps them, so don't think you're going to slip in a late entry at the end of 
  round one though.  My fraud department is better than that, son.</p>
 
 p.main SCORING
 
 ol
   li.
    Winners of First Round games are awarded 5 points.
   li.
    Winners of Second Round games are awarded 10 points.
   li.
    Winners of Third Round games are awarded 15 points.
   li.
    Winners of Fourth Round games are awarded 20 points.
   li.
    Winners of Fifth Round (Semi-Final) games are awarded 25 points.
   li.
    Winner of the Final Game (Round 6) is awarded 35 points.
   li.
    Bonus Points are awarded for games with a winning margin of 11 points or more, not to exceed a maximum of 10 bonus points.<br />
    (i.e., Team A beats Team B by 16 points. Team A receives 6 bonus points; Team A beats Team C by 31 points. Team A receives 10 
    bonus points (maximum allowed).
   li.
    Bonus points are also awarded for upset wins, based upon the "seed" number for each team.  Points awarded will be twice the 
    difference in the "seed" number.<br />
    (i.e., #13 seed beats a #8 seed:  Seed difference is 5 (13 - 8). Bonus points awarded: 10 points
 
 p.main WINNERS
 
 p.
  Winners are based upon the total of all points earned. In the case of a tie, the winner is decided by a foot race and obstacle course 
  through Central Park.  (Travel expenses not provided by the tournament commitee and are the sole responsibility of the participants.)
 table
   tr
     td FIRST PLACE:

     td 45% of total pool entry fees

   tr
     td SECOND PLACE:
     td 25%

   tr
     td THIRD PLACE:
     td 15%

   tr
     td FOURTH PLACE:
     td 10%

   tr
     td FIFTH PLACE:
     td 5%

 p All decisions of the tournament committee are final.  There is no higher court!
 
 p.
  Forms must be submitted online or emailed to: <a href="mailto:bigdumbox@gmail.com">bigdumbox@gmail.com</a> and received by midnight 
  on the Wednesday before tournament games begin.
 
 p Fees should be paid online using Paypal, or as a last resort, can be mailed to:
 p.
  Barrett Smith<br />
  12533 W. Huntly Dr.<br />
  Boise, ID 83709</p>
