extends layout

block content
	h1 Tournament Entry Form

	p.
		Complete the form below to submit your entry.  Be sure to send your registration fee in before games begin on Thursday or your spot in the tournament may be 
		forfeited.  Payments should be sent using PayPal or can be mailed to the address listed on the Rules page.

	form
		label *First Name 
			input(required, size=30)
		label *Last Name 
			input(required, size=30)
		label *Email
			input(required, size=30)
		label Address
			input(size=30)
		label.inline City 
			input
		label.inline State 
			input(size=20)
		label.inline Zip 
			input(size=10)
		label.extrawide Comments 
			input(size=100)