/* --------------- Body Properties --------------- */
html 
	height: 100%;


body 
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	text-align: left;
	font-size: 10pt;
	color: white;
	background-color: gray;
	margin:0 auto;
	text-align: left;


header 
	width:100%;
	background-color: white;
	height:150px;
	overflow:visible;
	position: fixed;
	padding-right: 10%;
	z-index: 3;
	text-align: center;

	& a
		text-decoration:none;

	& img
		float: right;
		position:relative;
		padding-right:10%;
		height: 150px;
		z-index: 3;
		border:none;	

navigation 
	font-size:12px;
	background-color: white;
	width:100%;
	position: absolute; 
	left: 0px; 
	bottom: 30px;
	padding-left: 0;
	padding-right: 10%;
	text-align:left;
	font-style: italic;
	
	& ul
		margin:0px; 
		padding-left: 10%;
		z-index: 3;

		& li 
			line-height:25px;
			float: left;
			max-height:25px;
			list-style:none;
			cursor:pointer; 
			text-align:left;
			font-size: 12pt;
			min-width: 2em;
			margin: 0 15px 0 15px;

			&:hover
				line-height:25px;
				min-height:25px;
				position:relative;

			& a
				text-decoration:none;
				display:block;
				color: gray;
				
				&:before
					content: "[ "; 
					color: maroon; 
					position: absolute; 
					left: -.75em;

				&:after
					content: " ]"; 
					color: maroon; 
					position: absolute; 
					right: -.75em;

				&:visited
					text-decoration:none;
					display:block;
					color: gray;

div#content 
	position: absolute; 
	top: 150px;
	padding-left:10%;
	padding-right:10%; 
	z-index: 0;
	width: 80%;

#oxlogo 
	position: absolute; top: 17px; left: 5px; 


a 
	color: navy;
	text-decoration:none;


b 
	color: navy;


h1 
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 16pt;
	color: navy;


h5.head
	text-align:center;
	color: navy;


h4.head
	text-align:center;
	color: navy;


h2.head 
	text-align:center;



p.center
	text-align: center;


p.main
	font-weight:bold;
	color: navy;

p.note:before
	font-weight: bold;
	color: navy;
	content: "Note: ";

p.note + p.note:before
	content: "Double Note: "

h3 
	color:navy;


h3.center
	font-size:xx-large;
	text-align:center;


h6 
	text-align:center;

label
	display: block;
	margin-top: 10px;
	width: 25em;
label.extrawide
	width: 55em;

label.inline
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 10px;
	width: auto;

label input[required]:before
	content: "*";
	float: left;

label input, label select
	margin-left: 20px;
	float: right;
	display: block;


table	
	border:none;


th 
	background-color: black;
	color: white;
	text-align: left;
	font-size:small;
	height: 20px;
	width: 200px;
	vertical-align: middle;


th.region
	text-align:center;


tr.odd
	background-color:#AAAAAA; 

td.center
	text-align:center;
	font-size:x-small;

span.out
	font-weight:normal;
	text-decoration:line-through;
	color: maroon;

span.in
	font-weight:bold;


span.pre
	display: none;

hr
	width:100%;

div.yearChampions h2
	margin-top 40px

div.yearChampions p
	margin-bottom 0
div.yearChampions p+p
	margin-bottom auto
	margin-top 0